<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to RStudio and tidyverse</td> </tr>
      <tr> <td>09:30</td>  <td>Elegant data visualisations with ggplot2</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td>Data subsetting with dplyr</td> </tr>
      <tr> <td>11:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:15</td>  <td>Data sorting and pipes</td> </tr>
      <tr> <td>12:45</td>  <td>Data manipulation with dplyr</td> </tr>
      <tr> <td>13:30</td>  <td>Coffee</td> </tr>
      <tr> <td>13:45</td>  <td>Reshaping data with tidyr</td> </tr>
      <tr> <td>14:30</td>  <td>Day 1 Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Recap of previous days materials</td> </tr>
      <tr> <td>09:30</td>  <td>Data summaries with groups using dplyr</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td>Complex pipelines</td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:45</td>  <td>Mutating across columns</td> </tr>
      <tr> <td>13:30</td>  <td>Coffee</td> </tr>
      <tr> <td>13:45</td>  <td>Q&A session with live coding</td> </tr>
      <tr> <td>14:30</td>  <td>Workshop wrap-up</td> </tr>
    </table>
  </div>
</div>